.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #FFE7E7;
    border-bottom: 1px solid #493535;
    font-size: 1000%;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    height: 200px;
}

.finishPay {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #493535;
    font-size: 500%;
    font-weight: bold;
    margin-top: 15%;
    width: 100%;
    height: 100%;
    margin-bottom: 25%;
}

.receipt {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #493535;
    font-size: 700%;
    font-weight: bold;
    margin-top: -10%;
    width: 100%;
    height: 100%;
    
}

.yesNoButtonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    font-size: 210%;
    width: 90%;
    height: 200%;
    margin-bottom: 30%;    
}

.yesButton, .noButton {
    background-color: #C4C4C4;
    font-size: 210%;
    width: 100%;
    height: 200%;
    color: #493535;
}

.yesButton {
    margin-right: 5%;
    margin-left: 10%;
}

.numberDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:200%;
    width: 100%;
    height: 200%;
    margin-top: -10%;
    background-color: #C4C4C4;
}

.number {
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #C4C4C4;
    height: 100%;
    font-size: 300%;
    text-align: center;
    font-weight: bold;
    color: #493535;
}

.footer3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 27.2%;
}

.cancelButton3 {
    background-color: #C4C4C4;
    color: #493535;
    font-size: 450%;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 210px;
    align-self: center;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}